<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pessoas cadastradas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container-sm">
        <h1>Pessoas Cadastradas</h1>
        <br>
        <table class="table">
            <thead>
                <tr align="center">
                    <th scope="col">CPF</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            {% for item in variavel %}

            <tr align="center">
                <th scope="row">{{item["CPF"]}}</th>
                <td>{{item["Nome"]}}</td>
                <td>{{item["Sexo"]}}</td>
                <td>{{item["DataNascimento"]}}</td>
                <td>
                    <a href='/deletar/{{item["CPF"]}}' class="btn btn-danger">Deletar</a>
                    <a href='/atualizar/{{item["CPF"]}}' class="btn btn-secondary">Atualizar</a>
                </td>

            </tr>

            {% endfor %}

        </table>
    </div>
    <div class="container-sm">
        <a href='/' class="btn btn-primary">Voltar</a>
    </div>
</body>

</html>